               <div class="post-preview">
                     <h2 class="post-title">
      {{ if (not (isset .Params "externalurl")) }}
              <a href="{{ .Permalink }}"> {{ .Title }}</h2> </a>
      {{ else }}
              <a rel="remote-article" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a>
      {{ end }}
               </h2>
                    <section class="summary">
                        {{ .Summary }} {{ if .Truncated }} <a href="{{ .RelPermalink }}">Read More...</a>{{ end }}
                    </section>
                    <p class="post-meta">
                      {{ partial "meta.html" .}}
                  </p>
                </div>
                <hr>


